# Database offline lokal
*.mbtiles

# Tile raster lokal QGIS
8/
9/
10/
11/
12/
13/
14/
15/

# Data spasial lokal (tidak diunggah ke repositori web)
data/
*.shp
*.shx
*.dbf
*.prj
*.cpg
*.csv
*.qgz

# Temporary / cache files
*.tmp
.vscode/
